<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-tottems"
  version="1.0.0">

    <name>CordovaTottems</name>
    <description>something</description>
    <author>@jfuentes</author>
    <license>TMI</license>
<!--  
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="CDVTottems">
			    <param name="ios-package" value="CDVTottems"/>
			    <param name="onload" value="true"/>
		    </feature>
        </config-file>

        <header-file src="src/ios/CDVTottems.h" />
        <source-file src="src/ios/CDVTottems.m" />
        <header-file src="src/ios/CDVTottemsURLProtocol.h" />
        <source-file src="src/ios/CDVTottemsURLProtocol.m" />
    </platform>
    -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="TottemsResource">
                <param name="android-package" value="com.tottems.cordova.Tottems" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/com/tottems/cordova/Tottems.java" target-dir="src/com/tottems/cordova" />
    </platform>

    <cryptfiles>
        <include>
            <file regex="\.(htm|html|js|css|json|xml)$" />
        </include>
        <exclude>
        </exclude>
    </cryptfiles>

    <hook type="after_prepare" src="hooks/after_prepare.js" />
</plugin>
